*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: "Geist", sans-serif;
    font-weight: 500;
}

.mobile-nav {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #181818;
    z-index: 999;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}

.mobile-nav.show {
    display: flex; 
}

.hamburger-bgc{
    background-color: #181818;
}

.page-content.hide {
    display: none;
}

.mobile-nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.mobile-nav li{
    cursor: pointer;
}

.mobile-nav li:hover{
    border: 1px solid white;
    transition: 0.5s;
    background-color: black;
}

.mobile-nav a{
    text-decoration: none;      
    color: white;
    font-size: 2rem;
}

.mobile-nav button{
    padding: 10px;
    min-width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.hamburger-menu{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin: 10px;
}

.hamburger-menu h1{
    color: white;
    font-size: 2.4rem; 
    padding-right:20px ; 
    display: none;
}

.hamburger-menu button{
    border: 1px solid white; 
    margin: 5px; 
    padding: 6px; 
    font-size: 1.5rem; 
    border-radius: 5px; 
    display: none;
}

nav{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: 0;
    left: 0;
}

.nav-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.left-nav{
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    margin-left: 20px;
}

.left-nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 7px;
}

.left-nav li{
    color: rgb(178, 178, 178);
    cursor: pointer;
}

.left-nav a{
    text-decoration: none;
    color: rgb(178, 178, 178);
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s ease;
    display: inline-block;
}

.left-nav a:hover{
    color: white;
    background-color: rgba(158, 157, 157, 0.15);
}

.right-nav{
    margin-right: 20px;
}

.right-nav button{
    font-size: 0.9rem;
    padding: 8px 15px;
    border-radius: 6px;
    border: 1px solid grey;
    cursor: pointer;
}

.black-btn{
    background-color: black;
    color: white;
    transition: 0.3s ease;
}

.white-btn{
    background-color: white;
    color: black;
    transition: 0.3s ease;
}

.black-btn:hover{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
}

.white-btn:hover{
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid white;
}

.products-dropdown{
    opacity: 0;
    filter: blur(8px);
    visibility: hidden;
    position: absolute;
    background-color: #181818;
    color: white;
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
    transition: 0s;
}

.products-dropdown h1{
    margin-bottom: 4px;
    font-weight: 300;
    text-align: left;
    margin-left: 10px;
}

.left-nav li:hover .products-dropdown{
    display: flex;
    visibility: visible;
    flex-direction: row;
    opacity: 1;
    transition: 0.3s ease-out;
    filter: blur(0);
    
}

.left-nav li:hover a{
    background-color: rgba(158, 157, 157, 0.15);
}

.dropdown-card{
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 10px;
    color: rgb(150, 150, 150);
    transition: 0s;
}

.dropdown-card h4{
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.dropdown-card p{
    font-weight: 100;
    font-size: 0.8rem;
    color: rgb(150, 150, 150);      
}

.dropdown-card:hover h4,
.dropdown-card:hover p {
    color: white;
}


.dropdown-card:hover{
    border: 1px solid white;
    transition: 0.5s;
    background-color: black;
}


@media(max-width: 768px){       
    .hamburger-menu{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .hamburger-menu h1, .hamburger-menu button{
        display: flex;
    }

    .left-nav, .right-nav{
        display: none;
    }
}